body{
    background-color: bisque;
}

h3{
    margin: 5px 0px;
    margin-top: 2px;
}


.pedido-general{
    display: flex;
    flex-wrap: nowrap;
}


.comprador{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.detalle-pedido{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    

}
.el-pedido{
    width: 300px;
}

.monto-final{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.productos{
    display: flex;
    flex-wrap: nowrap;
}

.pizzas{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.acompanamientos{
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 5px;
    padding: 5px;

    border: 2px black solid;
    border-radius: 10px;
}

.bebidas{
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 5px;
    padding: 5px;

    border: 2px black solid;
    border-radius: 10px;

}


.informacion{
    display: flex;
    flex-wrap: nowrap;
}

.clima{
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 5px;
    padding: 5px;

    border: 2px black solid;
    border-radius: 10px;
}
.monedas{
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 5px;
    padding: 5px;

    border: 2px black solid;
    border-radius: 10px;
}

#cajas-de-pizzas{
    width: 250px;
}