.pedido-general{
    display: flex;
    flex-wrap: nowrap;
}


.comprador{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.detalle-pedido{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    

}
.el-pedido{
    width: 350px;
}

.monto-final{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.productos{
    display: flex;
    flex-wrap: nowrap;
}


/**********************************/
/*** Aqui empieza lo antiguo **/
/******************************/
body{
    background-color: bisque;
}


h3{
    margin: 5px 0px;
    margin-top: 2px;
}

.menu{
    display: flex;
    flex-wrap: nowrap;
}

.pizzas{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.acompanamientos{
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 5px;
    padding: 5px;

    border: 2px black solid;
    border-radius: 10px;
}

.bebidas{
    display: flex;
    flex-direction: column;
    gap: 3px;

    margin: 5px;
    padding: 5px;

    border: 2px black solid;
    border-radius: 10px;

}


.producto{
    display: inline-block;
    flex-wrap: nowrap;

    white-space: nowrap;
}

.salida{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    
}

.pedido-actual{
    

    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    width: 320px;
    
    padding: 10px;
    
}

.pedido-actual button{
    width: 30%;

}


.cliente{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 5px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
}

.total{
    /*display: none;*/
    padding: 10px;
}

#mi-pedido{
    padding-left: 20px;
}